{% extends "base.html" %}


{% block content %}
<div class="container col-lg-8 col-md-10 py-3 mb-4 text-center">
    <h1 class="mb-5"><mark>About</mark></h1>
    <br>
    <div class="container col-lg-8 col-md-10" style="font-size: larger; font-weight: 600; text-align: justify;">
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Lacus vel facilisis volutpat est velit egestas dui id. Semper feugiat nibh sed pulvinar proin. Amet porttitor eget dolor morbi non arcu risus quis. 
            Tortor id aliquet lectus proin nibh nisl condimentum. Ullamcorper eget nulla facilisi etiam dignissim diam quis. 
            Turpis cursus in hac habitasse platea dictumst quisque. Pulvinar neque laoreet suspendisse interdum consectetur libero id. 
            Quis hendrerit dolor magna eget est. Volutpat diam ut venenatis tellus in metus vulputate eu. Nibh cras pulvinar mattis nunc sed.
        </p>
        <br>
        <p class="mb-5">Lorem donec massa sapien faucibus. Magna ac placerat vestibulum lectus mauris ultrices eros. 
            Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. 
            Nulla facilisi etiam dignissim diam quis enim. Rhoncus mattis rhoncus urna neque. 
            Viverra orci sagittis eu volutpat odio facilisis mauris. Eget aliquet nibh praesent tristique magna sit. 
            Tincidunt dui ut ornare lectus sit amet est placerat. Metus dictum at tempor commodo ullamcorper a lacus. 
            Sem nulla pharetra diam sit amet nisl suscipit.
        </p>
    </div>
</div>
{% endblock %}