{% extends "base.html" %}

{% block content %}
<div class="container col-lg-10 py-3 mb-4 bg-light rounded-3 shadow">
    <div class="text-center">
        {% include "_logo.html" %}
        <h1 class="h3 my-4 fw-normal">Edit Post</h1>
    </div>

    <div class="m-4">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name="text") }}
        {{ render_form(
                form,
                method="POST",
                enctype="multipart/form-data",
                novalidate=True,
                button_style="btn btn-md btn-dark w-100 mt-3",
                extra_classes="fs-5"
                
            ) 
        }}
    </div>

    <hr class="mx-4">

    <div class="d-grid col-12">
        <a href="{% if request.referrer == None %}{{ url_for('user_bp.profile', username=current_user.username)}}{% else %}{{ request.referrer }}{% endif %}" class="btn btn-danger m-4 mt-2">Discard</a>
    </div>
</div>
{% endblock %}