{% extends "auth/email/base_email.html" %}

{% block content %}
<p>
    To reset your password click:
    <br>
    <br>
    <a class="btn btn-dark" href="{{ url_for('auth_bp.reset_password', token=token, _external=True) }}">
        Reset Password
    </a>
</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>

<p class="text-wrap text-break">{{ url_for('auth_bp.reset_password', token=token, _external=True) }}</p>

<p>If you have not requested a password reset simply ignore this message.</p>
{% endblock %}




